<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Analysis Result</title>
</head>
<body>
    <h1>Image Analysis Result</h1>
    <div>Result: {{ result }}</div>
    <!-- <a href="{{ url_for('upload') }}">Upload Another Image</a> -->
<!-- </body>
</html> --> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Analysis Result</title>
</head>
<body>
    <h1>Image Analysis Result</h1>
    <p>Result: {{ result }}</p>
    <p>Class Label: {{ class_label }}</p> <!-- Display the class label -->
</body>
</html>
