<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Image</title>
</head>
<body>
    <h1>Upload Image</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="{{ message[1] }}">{{ message[0] }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.image.label }}{{ form.image() }}<br><br>
        {{ form.submit() }}
    </form>
</body>
</html>
